@import '~bootstrap/scss/bootstrap';

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
  display: flex;
}

.center-container {
  height: 100%;
  display: flex;
}

.form-divider {
  display: flex;
  &:before,
  &:after {
      content: "";
      display: block;
      flex: 1;
      margin: auto 0.5em;
      border-bottom: 1px rgba(33, 37, 41, 0.75) solid;
  }
}
